.accordion-block{
    background-color: map-get($colors, amel, gray-light);
    padding: map-get($spacing, 29) 0;
    
    @include respond-below('md'){
        padding: 50px 24px;
        display: none;
    }
}
.accordion{
    padding-top: 28px;
    &-holder{
        display: flex;
        gap: map-get($spacing, 5);
        justify-content: space-between;
    }
    &-header{
        
        max-width:700px;
        width: 100%;
        &-content{
            height: 0;
            overflow: hidden;     
        }
        &-title{
            position: relative;
            padding: map-get($spacing, 6) 0;
            margin-left: map-get($spacing, 5);
            color: map-get($colors, amel, gray-5);
            cursor: pointer;
            @include respond-below('md'){
                margin-left: 0;
            }
            &::before{
                content: "";
                width: 100%;
                max-width: 100%;
                height: 2px;
                background-color: map-get($colors, amel,gray-6);
                position: absolute;
                top: 0;
                left: 0;
                transition: all 1.3s ease-in-out;
            }
            h4{
               // @include text-style('35xl', normal, tight);
                
               font-weight: 400; 
               font-size: 24px; 
               line-height: 140%; 
               
            }
         
            p{
             //   @include body-text(base); 
              
                font-weight: 400;
                font-style: Regular;
                font-size: 14px; 
                line-height: 160%;  
                max-height: 0;
                display: inline-block;
                opacity: 0;
                //transition: all 0.3s ease-in-out; 
                 
            }
            &.active{
               
                color: map-get($colors, amel, dark-light);
                &::before{
                    //background-color: map-get($colors, amel,  dark-light);
                   width: 100%;
                   transition: all 1.3s ease-in-out;
                }
                p{
                    opacity: 1;
                    max-height:100%;
                    transition: all 0.3s ease-in-out;                
                }
                .accordion-header-content{
                    height: auto;
                    overflow: visible;
                }
            }
            
        }
    }
    &-content{
        max-width: 660px;
        width: 100%;
        position: relative;
        min-height: 400px;
        &-item{
            //position: absolute;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            
            &.active{
                position: relative;
                opacity: 1;
                display: block;
            }
        }
    }

}

.accordion-block-mobile{
    display: none;
    @include respond-below('md'){
        display: block;
    }
    h4{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
    img{
        margin-top:20px;
    }
}