.cta-block{
    background-color: map-get($colors, amel, gray-4);
    min-height: 659px;
    padding: map-get($spacing, 10);
    position: relative;
    @include respond-below('md'){
        min-height: auto;
        padding: map-get($spacing, 10) 24px;
    }
    .desktop{
        display: block;
        @include respond-below('md'){
            display: none;
        }
    }
    .mobile{
        display: none;
        @include respond-below('md'){
            display: block;
        }
    }
    &-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;     
        @include respond-below('md'){
            padding: 48px 16px;
        }

        &-title{
            font-family: "Trade Gothic Next";
            font-weight: 800;
            font-size: 72px;
            line-height: 110%;
            text-align: center;
            color: map-get($colors, amel, light);
            text-transform: uppercase;
            
            //@include text-style('9xl', normal, normal);
            padding-bottom: map-get($spacing, 12);
            display: block;
            @include respond-below('md'){
              font-size:36px;
              line-height: 38px;
            }
        }
        &-button{
            //@include button(2xl, invert, solid);
            @include button(2xl, primary, solid);  
            min-width: 170px;
        } 
    }
    &-bg{
        position: relative;
        svg{
            margin: 0 auto;
            width: 100%;
            max-width: 100%;
            height: 100%;
            padding: 0;
            rect{
                width: 100%;
            }
        }
        @include respond-below('md'){
            //display: none;
        }

    }
}