.footer{
    background-color: map-get($colors, amel, gray-4);
    padding:0 map-get($spacing, 10);
    //padding-top: map-get($spacing, 30); 
    display: flex;
    gap: 160px;
    padding-bottom: 0;
    padding-top: 0;
    @include respond-below('lg'){ 
        gap: 46px; 
    }
    @include respond-below('md'){
        padding: 20px 24px;
        padding-top: 0;
        gap: 0;
        flex-wrap: wrap;
        flex-direction: row;
    }
    &-title{
        color: #000000;
        @include text-style('base', bold, normal);
        margin-bottom: 2px;
        opacity: 1;
        text-transform: capitalize;
        @include respond-below('md'){
         //   @include text-style('2xl', bold, normal);
         font-size:14px;
         margin-bottom: 0;
        }
    }
    .link{
        color: #000000;
        @include text-style('base', normal, normal);
        font-size: 14px;
        opacity: 1;
        @include respond-below('md'){
            font-size:14px;
            margin-bottom: 0;
        }
    }
    &-content{
        display:flex;
        gap: 88px;
        @include respond-below('lg'){ 
            gap: 10px; 
            flex-wrap: wrap;
        }
        @include respond-below('md'){  
            gap: 0;
            padding-top: 48px;
            width: 100%;
            flex-wrap: wrap;
            flex-direction: row;
        }
        nav{
            min-width: 178px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            @include respond-below('md'){
                padding-bottom: 32px;
                flex: 50%;
                min-width: initial;
             
            }
        }
    }
    &-links-horizontal{
        @include respond-below('md'){
            display: flex;
            .grid{
                display: flex;
                gap: initial;
                flex-wrap: wrap;
                .link{
                    flex: 50%;
                }
            }
        }
      

    }
}
.button-footer{
    padding-top: 72px;
    padding-bottom: 32px;
    @include respond-below('md'){
        padding-top: 0;
        padding-bottom: 20px;
        gap: 32px;
    }
    .link,
    .footer-copy-write{
        color: #41434E;
    }

}