.footer{
    background-color: map-get($colors, amel, gray-4);
    padding:0 map-get($spacing, 10);
    padding-top: map-get($spacing, 30); 
    display: flex;
    gap: map-get($spacing, 29);
    padding-bottom: map-get($spacing, 12);
    padding-top: 0;
    @include respond-below('md'){
        padding: 20px 24px;
        gap: 20px;
    }
    &-title{
        color: #000000;
        @include text-style('base', bold, normal);
        opacity: 1;
        text-transform: capitalize;
    }
    .link{
        color: #000000;
        @include text-style('base', normal, normal);
        opacity: 1;
        
    }
    &-content{
        display:flex;
        gap: map-get($spacing, 21);
        @include respond-below('md'){  
            gap: 40px;
        }
        nav{
            min-width: 178px;
            display: flex;
            flex-direction: column;
            gap: map-get($spacing, 4);
        }
    }
}