.grid-icons-block{
    padding: map-get($spacing, 29) 0;
    padding-bottom: map-get($spacing, 29);
    display: block;
    @include respond-below('md'){
        padding: 60px 24px;
    }
    ul{
        align-items: baseline;
        padding-top: 28px;
    }
    li{
        
        
        @include respond-below('md'){
             padding: 0;
        }
        > div{
            width: 100%;
            background-color: map-get($colors, amel, yellow-light-4);
            border-radius: 8px;
            min-height: 228px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 24px;
            @include respond-below('md'){
                width: 150px;
                height: 150px;
                min-height: auto;
                margin-bottom: 16px;
            }
        }
        p{
            max-width: 338px;
            //@include text-style('34xl', normal, normal);
            font-size: 24px;
            line-height: 130%;
            @include respond-below('md'){
                font-size: 14px;
                line-height: 140%;
                max-width: 145px;
            }
        }
        svg{
           // width:100px;
            height:94px;
            @include respond-below('md'){
               height: 68px;
            }
        }
    }
    .disclimer{
        padding-top: 100px;
        @include respond-below('md'){
            padding-top: 42px;
            text-align: center;
            p{
                font-size: 12px;
                line-height: 150%;
            }
        }
    }
}