.grid-icons-block{
    padding: map-get($spacing, 29) 0;
    padding-bottom: map-get($spacing, 29);
    display: block;
    li{
        background-color: map-get($colors, amel, yellow-light-4);
        border-radius: map-get($border-radius, '2xl');
        min-height: 465px;
        p{
            @include text-style('34xl', normal, normal);
        }
        svg{
            width:100px;
            height:100px;
        }
    }
    .disclimer{
        padding-top: map-get($spacing, 37);
    }
}