.navbar{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index:10;
    padding: 15px  map-get($spacing, 10);
    transition: all 0.3s ease-in-out;
    height: 90px;
    @include respond-below('lg'){
        height: auto;
    }

    @include respond-below('md'){
        padding: 10px 24px;
        height: auto;
    }
    
    a{
        color: map-get($colors, amel, light);
    }
    .menu{ 
        a{ 
            font-size: 18px;
            &:hover,
            &:focus{
                background: transparent;
                color: map-get($colors, amel, dark-2);
            }
        }
    }
    .dropdown{
        svg{
            stroke: #fff;
        }
        a{ 
            color: map-get($colors, amel, dark-2);
        }
    }
    .button-dark{
        @include button(2xl, primary, solid);  
        min-width: 169px;
    }
    .button-light{
        @include button(2xl, secondary, solid);  
        min-width: 169px;
    }
    &.scroll-down {
        background-color:hsl(0 0 93% / 60%);
        backdrop-filter: blur(20px);
        
        a{
            color: map-get($colors, amel, dark-2);
        } 
        .dropdown{
            svg{
                stroke: #000;
            }
        }
    }
    
    &.scroll-up {
        background-color: rgba(255, 255, 255, 0.98);
        backdrop-filter: blur(15px); 
        transform: translateY(-100%);
    }
}