.tag-line {
    margin-bottom: 72px;

    .badge {
        @include color('neutral', 500);
        @include bg-color('amel', 'yellow-light');
        @include border-color('amel', 'yellow-light');
        @include rounded('base');
        font-size: 16px;
        padding: 4px 8px;
        margin-bottom: 36px;

        @include respond-below('lg') {
            margin-bottom: 24px;
        }

        @include respond-below('md') {
            margin-bottom: 20px;
        }
    }

    .main-tagline {
        max-width: 900px;
        margin: 0 auto;
        font-family: "Trade Gothic Next";
        //@include text-style('9xl', medium, tight); 
        font-size: 72px;
        line-height: 106%;
        letter-spacing: -2px;
        font-weight: 800;
        text-transform: uppercase;

        @include respond-below('md') {
            letter-spacing: -1px;
        }

        &.full {
            max-width: 100%;
        }

        &.left {
            max-width: 750px;
            margin: 0;

            @include respond-below('md') {
                max-width: 100%;
                text-align: center;
            }
        }
    }

    .sub-tagline {
        // @include text-style('35xl', normal, tight);
        font-size: 32px;
        line-height: 130%;
    }

    @include respond-below('lg') {
        margin-bottom: 24px;

        .main-tagline {
            font-size: 48px;
            line-height: 110%;
        }
    }

    @include respond-below('md') {
        margin-bottom: 40px;

        .main-tagline {
            // @include text-style('45xl', medium, tight);
            font-size: 28px;
            line-height: 110%;
        }

        .sub-tagline {
            // @include text-style('2xl', normal, tight);
            font-size: 18px;
            line-height: 110%;
        }
    }

    &.text-left {
        @include respond-below('md') {
            text-align: center;
        }
    }
}