.trusted-block{
    padding: 100px 0;
    @include respond-below('md'){
        padding: 50px 24px;
    }
    .button-holder{
        padding-top:64px;
        button{
            @include button(2xl, invert, solid);
        }
    }   
}