.how-it-works{
    padding:120px 0;
    @include respond-below('md'){
        padding: 40px 24px;
        padding-bottom: 0;
    }
}
.tabs-holder{
    padding-top: 18px;
    @include respond-below('md'){
        padding-top:0;
    }
}
.tabs{
    width: fit-content;
    background-color: #eee8e2;
    padding: 12px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 72px;
    @include respond-below('md'){
        width: 100%;
        margin-bottom: 24px;
    }
    .tab{
        font-family: Helvetica Neue;
        font-weight: 500;
        font-style: medium;
        font-size: 18px; 
        line-height: 130%; 
        text-transform: uppercase;
        padding: 16px 32px;
        height: auto;
        border-radius: 4px;
        @include respond-below('md'){
         font-size: 14px;
         padding: 12px;
         flex: 50%;
        }
        &-active{
           background-color: #fff;
        }
        
    } 
  
}
.tab-content{
    display: none;
    &-active{
        display: block;           
    }
    &-image{
        text-align: right;
        @include respond-below('md'){
            text-align: center; 
        }

        img{
            max-width: 660px;
            width: 100%;
            display: inline-block;
        }
    }
    .headline-tab{
        //@include text-style('5xl', medium, tight);
        font-family: Helvetica Neue;
        font-weight: 500; 
        font-size: 32px; 
        line-height: 105%; 
        padding-top: 32px;
        padding-bottom: 72px;
    }   
}
 
.vertical-tabs{
    align-items: start;

    &-holder{
        max-width:706px;
    }
    .tabs{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background: transparent;
        padding-left: 0;
        @include respond-below('md'){
            padding: 0;
            padding-top:32px;
            margin-bottom: 0;
        }
        .tab{
            width: 100%;
            flex: 100%;
            display: flex;
            justify-content: start; 
            flex-wrap: nowrap;
            position: relative;
            align-items: start;
            margin-bottom: map-get($spacing, 14);
            text-transform: initial;
            padding: initial;
            border: none;
            @include respond-below('md'){
                margin-bottom: 46px;
            }
            &::before{ 
                content: "";
                height: 100%; 
                border-style: dashed;
                border-width: 1px;
                border-color: map-get($colors, amel, gray-3);
                bottom: 0;
                position: absolute;
                left: 1rem;
                top: 45px;
                @include respond-below('md'){
                    left: 11px;
                    top: 36px;
                }
            }
            svg{
                @include respond-below('md'){
                    width: 24px;
                    height: 24px;
                }
                circle{
                    stroke: map-get($colors, amel, gray-3);
                }
            }
            &:last-child{
                &::before{
                    display: none;
                }
            }
            &-button-content-holder{
                text-align: left;
                padding-left: map-get($spacing, 4);
            }
          
            h4{
                @include text-style('2xl', normal, tight);
                color: map-get($colors, amel, gray-2);
                @include respond-below('md'){
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            p{
                //@include text-style('base', normal, tight);
                font-family: Helvetica Neue;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: map-get($colors, amel, gray-2);
                text-align: left;
                @include respond-below('md'){
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            &-active{
                background: transparent;
                &::before{ 
                    border-style: solid;
                    border-color: map-get($colors, amel, yellow-light-2);
                }
                svg{
                    circle{
                        stroke: map-get($colors, amel, yellow-light-2);
                    }
                    path{
                        fill: map-get($colors, amel, yellow-light-2);
                    }
                }
                h4{ 
                    color: map-get($colors, amel, dark-light);
                }
                p{
                    color: map-get($colors, amel, dark-light); 
                }
            }
        }
       
    }
}