@import 'font-copernicus.css';

/* TODO:
[X] Add Mobile menu
[ ] Car section - scroll horizontally
*/

body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #FFFDF9;
}

.navbar {
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.04);
}

button, .btn {
  background-color: #DEDFDF;
  border: none;
  text-transform: uppercase;
  padding: 26px 26px;
  padding-right: 6px;
  display: flex;
  gap: 18px;
  border-radius: 6px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0);
  transition: all 300ms ease-in-out 0s;
}

.line-105 {
  line-height: 105%;
}

.grid-card {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  row-gap: 36px;
}

.card {
  width: 380px;
}

.card-title {
  font-size: 20px;
}

.card-image {
  height: 160px;
  height: 100px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.whalf {
  width: calc(50% - 12px);
}

.w-half {
  width: 470px;
  height: 320px;
}

button::after, .btn::after {
  content: '';
  background-image: url('images/arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 42px;
  height: 42px;
  transform: translateX(1px);
}

button:hover, .btn:hover {
  transform: scale(0.96);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
}

button:active, .btn:active {
  transform: scale(0.96) translateY(2px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.hero {
  background-image: url('images/hero.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.h-fit {
  height: fit-content;
  flex-grow: unset;
}

.no-bg-img {
  background-image: unset !important;
}

.footer {
  background-image: url('images/footer-new.png');
  margin-bottom: 0;
}

.section:empty {
  min-height: calc(100vh - 65px - 224px);
}

.section {
  max-width: 1200px;
  width: calc(100% - 32px);
  padding: 16px 0;
  margin: 0 auto;
  overflow: hidden;
}

.full-section {
  max-width: unset;
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
}

.char-5 {
  letter-spacing: -0.2rem;
}

hr {
  border-color: #1072FA;
}

.flex-row {
  flex-direction: row !important;
}

.letter-5 {
  font-weight: 500 !important;
  letter-spacing: -4.4px;
  line-height: 95%;
}

.para-letter {
  letter-spacing: -0.028rem;
}

.navbar {
  justify-content: space-between;
}

.desktop-no-break {
  display: none;
}

.mobile-menu, .mobile-close {
  display: none;
  background-image: url(images/mobile-menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
}

.card-third {
  width: calc(33% - 8px) !important;
  max-width: calc(33% - 8px) !important;
}

.close {
  background-image: url(images/mobile-close.svg) !important;
}

.blue-bg {
  background-color: #1072FA;
  color: white !important;
}

.blue {
  background-color: #1072FA;
  color: white !important;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
  max-width: unset;
}

.icon-image {
  width: 32px;
  height: 32px;
}

.card-responsive {
  width: 18vw !important;
  max-width: 18vw !important;
  justify-content: space-between;
}

.text-responsive {
  font-size: 1.2vw;
}

.car-container {
  border-bottom: 1px solid #DEDFDF;
  width: 100vw;
  transform: translateX(-16px);
  overflow: hidden;
}

.car {
  width: 6vw;
  height: 6vw;
  animation: carAnim 20000ms linear infinite;
  animation-play-state: paused;
  animation-delay: -4000ms;
}

.car-container.animate .car {
  animation-play-state: running;
}

.inner-car {
  width: 100%;
  height: 100%;
  background-image: url('images/car.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  animation: carWiggle 100ms ease-in-out infinite;
}

.trans-logo {
  transform-origin: left center;
  transform: scale(0.9) translateY(-26px);
}

@keyframes carAnim {
  0% {
    transform: translateX(-30vw);
  }
  
  100% {
    transform: translateX(130vw);
  }
}

@keyframes carWiggle {
  0% {
    transform: translateY(-1px);
  }
  
  100% {
    transform: translateY(1px);
  }
}

.ar-16-11 {
  aspect-ratio: 16 / 11;
}

.max-25 {
  max-width: calc(25% - 18px);
  width: 100% !important;
}

.full-grid {
  max-width: 1440px !important;
  width: calc(100% - 32px);
}

.card-470 {
  max-width: 470px;
  width: calc(33.33vw - 15px);
}

.stakeholder-card-01 {
  background-image: url('images/stakeholder-01.png');
  transition: all 300ms linear 0s;
  background-size: contain;
}

.stakeholder-card-01:hover {
  background-image: url('images/stakeholder-01-hover.png');
}

.stakeholder-card-02 {
  background-image: url('images/stakeholder-02.png');
  transition: all 300ms linear 0s;
  background-size: contain;
}

.stakeholder-card-02:hover {
  background-image: url('images/stakeholder-02-hover.png');
}

.stakeholder-card-03 {
  background-image: url('images/stakeholder-03.png');
  transition: all 300ms linear 0s;
  background-size: contain;
}

.stakeholder-card-03:hover {
  background-image: url('images/stakeholder-03-hover.png');
}

.mobile-fullscreen {
  max-width: calc(100% - 80px) !important;
}

.footer .mobile-fullscreen {
  width: 100% !important;
  max-width: 100% !important;
}

.footer .mobile-fullscreen > * {
  width: calc(100vw - 80px);
  margin-right: auto;
  margin-left: auto;
}

.mobile-60 {
  margin-top: 200px !important;
  margin-bottom: 200px !important;
}

.open-menu.hideme {
  transform: translateX(100%);
}

.open-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1072FA;
  z-index: 999;
  transform: translateX(0);
  transition: transform 200ms ease-in-out 0s;
}

.open-menu img {
  filter: invert(100%);
}

.open-menu .navbar-center {
  position: fixed;
  top: 108px;
  left: 50%;
  transform: translateX(-50%);
}

.open-menu .btn {
  width: max-content;
  margin-top: 72px;
}

.mob-form:has(#formSend.success)::after {
  content: '✅ Your request has been submitted';
}

.mob-form:has(input:placeholder-shown) #formSend {
  pointer-events: none;
  opacity: 0.6;
}

#form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  background-color: #838383a6;
  animation: formIn 300ms linear forwards;
  transition: display 100ms linear 300ms allow-discrete;
}

#form.hidden {
  opacity: 0;
  animation: formOut 300ms linear forwards;
}

@keyframes formIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes formOut {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

.input-form {
  padding: 16px;
  border: 1px solid #DEDFDF;
  border-radius: 8px;
  outline: none;
  font-weight: 400;
}

.input-form::placeholder {
  color: #9a9a9a;
}

.input-form:focus-visible {
  border-color: #1072FA;
}

@media (max-width:480px) {
  .section:empty {
    min-height: calc(100vh - 65px - 244px);
  }
  
  .mobile-column {
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    box-shadow: unset;
  }
  
  .mobile-col {
    flex-direction: column;
  }
  
  .mobile-center {
    margin: 0 !important;
    text-align: center;
  }
  
  .mobile-center h2 {
    width: 100% !important;
  }
  
  .text-7xl {
    font-size: 34px;
  }
  
  .text-6xl {
    font-size: 28px;
  }
  
  .text-xl {
    font-size: 16px;
  }
  
  .mobile-hidden {
    display: none;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  .hero {
    background-attachment: unset;
    background-image: url('images/hero-mobile.png');
  }
  
  .footer {
    background-image: url('images/footer-new.png');
  }
  
  .mobile-top {
    margin-top: 60px;
  }
  
  .mobile-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  
  .mobile-m-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  
  .mobile-card {
    flex-direction: column;
  }
  
  .mobile-card .card-image {
    object-fit: contain;
    height: 80px;
    width: 80px;
  }
  
  .mobile-card figure {
    align-items: flex-start;
  }
  
  .mobile-card .text-center, .mobile-card h2 {
    text-align: left;
    width: fit-content;
  }
  
  .mobile-no-break {
    display: none;
  }
  
  .desktop-no-break {
    display: inline;
  }
  
  .mobile-full {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: unset;
  }
  
  .mobile-100 {
    width: 50vw;
    max-width: 50vw;
  }
  
  section, .section {
    overflow: hidden;
  }
  
  .mobile-fullscreen {
    width: 100%;
    max-width: 100% !important;
  }
  
  .mobile-gap {
    gap: 32px;
  }
  
  .mobile-footer {
    padding: 16px;
    gap: 48px;
    border-radius: 6px;
  }
  
  .mobile-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .mobile-reverse {
    flex-direction: column-reverse;
    gap: 32px;
  }
  
  .mobile-reverse p {
    text-align: left;
  }
  
  .mobile-grid .card {
    max-width: 100%;
  }
  
  .footer {
    margin: 0;
  }
  
  .car {
    width: 30vw;
    height: 30vw;
    animation-duration: 6000ms;
    animation-delay: 0ms;
  }
  
  .less-mobile {
    margin-top: 60px;
  }
  
  .mobile-card .text-center, .mobile-card h2 {
    text-align: center !important;
    width: 100%;
    font-size: 18px;
  }
  
  .less-mobile {
    margin-bottom: 32px;
  }
  
  .text-\[22px\] {
    font-size: 18px;
  }
  
  .mobile-gap-2 {
    gap: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .blue {
    margin-top: 64px;
    margin-bottom: 64px;
    padding-bottom: 0px;
  }
  
  .blue h2 {
    margin-top: 48px;
  }
  
  .mb-34 {
    margin-top: 48px;
  }
  
  .blue h2.card-title {
    margin-top: 8px;
  }
  
  .blue .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  
  .blue .grid-card:last-of-type {
    margin-bottom: 64px;
  }
  
  .w-\[80\%\] {
    width: 100%;
    margin-bottom: 32px;
  }
  
  .card-responsive {
    width: calc(50% - 8px) !important;
    max-width: calc(50% - 8px) !important;
    padding: 16px 12px;
    border-radius: 4px;
  }
  
  .card-responsive .card-body {
    height: 108px;
    justify-content: space-between;
  }
  
  .card-responsive .card-body h2 {
    font-size: 14px;
  }
  
  .footer {
    background-image: url('images/footer.png');
  }
  
  .mobile-grid {
    gap: 12px !important;
  }
  
  .card-responsive .icon-image {
    width: 24px;
    height: 24px;
  }
  
  .card-responsive .gap-12 {
    gap: unset;
  }
  
  .mobile-fullscreen {
    padding-top: 0 !important;
    margin-bottom: 32px !important;
  }
  
  .footer h2 {
    font-size: 36px !important;
  }
  
  .footer .mobile-fullscreen {
    gap: 200px;
  }
  
  .footer p, .footer div {
    font-size: 12px !important;
  }
  
  .footer .gap-8 {
    row-gap: 8px !important;
  }
  
  .mobile-col-footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .mobile-col-footer img {
    width: calc(100vw - 64px) !important;
    max-width: calc(100vw - 64px) !important;
  }
  
  .mobile-col-footer img {
    transform: scale(0.6);
    transform-origin: 0 50%;
  }
  
  .translate-y-30 {
    translate: none !important;
    transform: translateY(40px);
  }
  
  .translate-y-30 .mt-20 {
    margin-top: 20px !important;
  }
  
  section:has(.translate-y-30) {
    gap: 0 !important;
  }
  
  .mobile-grid {
    margin-top: 0 !important;
  }
  
  .mobile-menu {
    display: block;
  }
  
  .mobile-row {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
  }
  
  .mobile-row div {
    width: calc(100vw - 80px) !important;
    scroll-snap-align: start;
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
  
  .card-third {
    width: 100% !important;
    max-width: 100% !important;
  }
  
  .mobile-24 {
    font-size: 24px;
  }
  
  .char-5 {
    letter-spacing: -0.06rem;
  }
  
  .hero-content {
    padding: 24px;
  }
  
  .mob-form {
    position: absolute;
    top: 0;
    left: 0;
    max-width: unset;
    width: 100vw;
    height: 100vh;
    padding: 24px;
    border-radius: 0;
  }
  
  .text-80px {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -1.6px;
  }
  
  .text-88px {
    font-size: 36px;
    line-height: 95%;
    letter-spacing: -1.8px;
  }
  
  .tracking-32px {
    line-height: 105%;
    letter-spacing: -1.4px;
    margin-left: 0 !important;
  }
  
  .tracking-3px {
    line-height: 110%;
    letter-spacing: -1.4px;
  }
  
  .tracking-1px {
    line-height: 130%;
    letter-spacing: -0.7px;
  }
  
  .card-470 {
    width: calc(100vw - 48px);
  }
  
  .whalf {
    width: 100%;
  }
}