@import 'font-copernicus.css';

body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbar {
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.04);
}

button, .btn {
  background-color: #DEDFDF;
  border: none;
  text-transform: uppercase;
  padding: 26px 16px;
  padding-right: 6px;
  display: flex;
  gap: 18px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0);
  transition: all 300ms ease-in-out 0s;
}

.line-105 {
  line-height: 105%;
}

.grid-card {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  row-gap: 36px;
}

.card {
  width: 380px;
}

.card-title {
  font-size: 22px;
}

.card-image {
  height: 160px;
  height: 100px;
  object-fit: cover;
}

button::after, .btn::after {
  content: '';
  background-image: url('images/arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 42px;
  height: 42px;
}

button:hover, .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
}

button:active, .btn:active {
  transform: scale(1.05) translateY(2px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.hero {
  background-image: url('images/hero.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  background-image: url('images/footer.png');
}

.section:empty {
  min-height: calc(100vh - 65px - 224px);
}

.section {
  max-width: 1200px;
  width: calc(100% - 32px);
  padding: 16px 0;
  margin: 0 auto;
}

.full-section {
  max-width: unset;
  width: 100% !important;
  margin: 0 !important;
}

hr {
  border-color: #1072FA;
}

@media (max-width:480px) {
  .section:empty {
    min-height: calc(100vh - 65px - 244px);
  }
  
  .mobile-column {
    flex-direction: column;
    align-items: center;
  }
}