@import 'font-copernicus.css';

body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbar {
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.04);
}

button, .btn {
  background-color: #DEDFDF;
  border: none;
  text-transform: uppercase;
  padding: 26px 16px;
  padding-right: 6px;
  display: flex;
  gap: 18px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0);
  transition: all 300ms ease-in-out 0s;
}

.line-105 {
  line-height: 105%;
}

.grid-card {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  row-gap: 36px;
}

.card {
  width: 380px;
}

.card-title {
  font-size: 22px;
}

.card-image {
  height: 160px;
  height: 100px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-half {
  width: 470px;
  height: 320px;
}

button::after, .btn::after {
  content: '';
  background-image: url('images/arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 42px;
  height: 42px;
}

button:hover, .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
}

button:active, .btn:active {
  transform: scale(1.05) translateY(2px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.hero {
  background-image: url('images/hero.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  background-image: url('images/footer.png');
  margin-bottom: 0;
}

.section:empty {
  min-height: calc(100vh - 65px - 224px);
}

.section {
  max-width: 1200px;
  width: calc(100% - 32px);
  padding: 16px 0;
  margin: 0 auto;
}

.full-section {
  max-width: unset;
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
}

hr {
  border-color: #1072FA;
}

.flex-row {
  flex-direction: row !important;
}

.blue-bg {
  background-color: #1072FA;
  color: white !important;
}

.blue {
  background-color: #1072FA;
  color: white !important;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
  max-width: unset;
}

.car-container {
  border-bottom: 1px solid #DEDFDF;
  width: 100vw;
  transform: translateX(-16px);
}

.car {
  width: 6vw;
  height: 6vw;
  animation: carAnim 20000ms linear infinite;
}

.inner-car {
  width: 100%;
  height: 100%;
  background-image: url('images/car.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  animation: carWiggle 100ms ease-in-out infinite;
}

@keyframes carAnim {
  0% {
    transform: translateX(-6vw);
  }
  
  100% {
    transform: translateX(106vw);
  }
}

@keyframes carWiggle {
  0% {
    transform: translateY(-1px);
  }
  
  100% {
    transform: translateY(1px);
  }
}

.stakeholder-card-01 {
  background-image: url('images/stakeholder-01.jpg');
}

.stakeholder-card-01:hover {
  background-image: url('images/stakeholder-01-hover.jpg');
}

.stakeholder-card-02 {
  background-image: url('images/stakeholder-02.jpg');
}

.stakeholder-card-02:hover {
  background-image: url('images/stakeholder-02-hover.jpg');
}

.stakeholder-card-03 {
  background-image: url('images/stakeholder-03.jpg');
}

.stakeholder-card-03:hover {
  background-image: url('images/stakeholder-03-hover.jpg');
}

@media (max-width:480px) {
  .section:empty {
    min-height: calc(100vh - 65px - 244px);
  }
  
  .mobile-column {
    flex-direction: column;
    align-items: center;
  }
}