@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSans-Thin-trial.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSans-Light-trial.otf') format('opentype');
  font-weight: 200 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-Regular-trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-Medium-trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-Bold-trial.otf') format('opentype');
  font-weight: 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-ThinItalic-trial.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-LightItalic-trial.otf') format('opentype');
  font-weight: 200 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-MediumItalic-trial.otf') format('opentype');
  font-weight: 400 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-BoldItalic-trial.otf') format('opentype');
  font-weight: 600 700 800 900;
  font-style: italic;
  font-display: swap;
}

.rhetorik {
  font-family: 'rhetorik';
}

.rhetorik-italic {
  font-family: 'rhetorik';
  font-style: italic;
}