@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-Light.otf') format('opentype');
  font-weight: 200 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-Bold.otf') format('opentype');
  font-weight: 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-LightItalic.otf') format('opentype');
  font-weight: 200 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'rhetorik';
  src: url('fonts/RhetorikSerif-BoldItalic.otf') format('opentype');
  font-weight: 600 700 800 900;
  font-style: italic;
  font-display: swap;
}

.rhetorik {
  font-family: 'rhetorik';
}

.rhetorik-italic {
  font-family: 'rhetorik';
  font-style: italic;
}