@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-Light.otf') format('opentype');
  font-weight: 200 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-Bold.otf') format('opentype');
  font-weight: 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-LightItalic.otf') format('opentype');
  font-weight: 200 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'graphik';
  src: url('fonts/Graphik-BoldItalic.otf') format('opentype');
  font-weight: 600 700 800 900;
  font-style: italic;
  font-display: swap;
}

.graphik {
  font-family: 'graphik';
}

.graphik-italic {
  font-family: 'graphik';
  font-style: italic;
}