@import 'font-graphik.css';

@import 'font-rhetorik.css';

:root {
  --color-light: #ECECC9;
  --color-dark: #143D56;
}

body, html {
  background-color: var(--color-dark);
}

.section:empty {
  min-height: calc(100vh - 65px - 224px);
}

.section {
  max-width: 900px;
  width: calc(100% - 32px);
  padding: 16px 0;
  margin: 0 auto;
}

.btn {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 16px;
  border: none;
  width: 230px;
  height: 54px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: none;
  transition: scale 100ms ease-in-out 0s;
}

.btn:hover {
  scale: 1.02;
}

.btn-light {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.btn-outline {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  background-color: transparent;
}

.btn-outline-light {
  border: 1px solid var(--color-light);
  color: var(--color-light);
  background-color: transparent;
}

.btn-icon {
  height: 52px;
  width: 52px;
}

.btn-icon svg {
  scale: 1.5;
  pointer-events: none;
}

.btn.disabled {
  opacity: .5;
  pointer-events: none;
}

.bg-none {
  background-color: unset !important;
}

.bg-color-light {
  background-color: var(--color-light) !important;
}

.bg-color-dark {
  background-color: var(--color-dark) !important;
}

.text-color-light {
  color: var(--color-light) !important;
}

.text-color-dark {
  color: var(--color-dark) !important;
}

.carousel {
  width: 75vw;
  border-radius: 16px 0 0 16px;
}

.carousel-item {
  position: relative;
  width: fit-content;
}

.carousel-item img {
  max-width: 322px;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
}

.carousel-item::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('images/heart.svg');
}

.tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #ffffff;
  font-weight: 500;
  border-radius: 50vw;
  min-width: 140px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 26px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #143D56;
}

.tag.special {
  top: 28px;
  left: 40px;
  min-width: 96px;
}

h2 {
  color: var(--color-light);
  font-size: 60px;
  font-family: 'rhetorik';
  font-weight: 500;
  text-align: center;
  line-height: 1;
}

h5 {
  color: var(--color-light);
  font-size: 14px;
  font-family: 'graphik';
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  line-height: 1;
}

h6 {
  font-family: 'graphik';
  font-weight: 500;
  font-size: 14px;
}

.card {
  position: relative;
}

.color-card {
  padding-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 36px;
  border-radius: 16px;
  background-color: var(--color-light);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 28px;
  width: 22vw;
  text-align: center;
  align-items: center;
}

.color-card.third {
  width: 29.6666vw;
}

.color-card img {
  width: 130px;
  height: 100px;
}

.color-card .bigger-img {
  width: 200px;
  height: 100px;
}

.bg-red {
  background-color: #DFA5A0;
}

.bg-orange {
  background-color: #F4986C;
}

.bg-blue {
  background-color: #9FB5C2;
}

.bg-yellow {
  background-color: #F0BC57;
}

.text-red {
  color: #DFA5A0;
}

.text-orange {
  color: #F4986C;
}

.text-blue {
  color: #9FB5C2;
}

.text-yellow {
  color: #F0BC57;
}

.color-card.outline {
  border: 1px solid;
  background-color: unset;
  color: #9FB5C2;
  font-size: 18px;
  gap: 4px;
  width: 15vw;
  padding-top: 14px;
  padding-bottom: 14px;
}

.color-card.outline img {
  width: 26px;
  height: 26px;
}

footer {
  gap: 24px;
  justify-content: space-between;
}

footer nav {
  display: flex;
  flex-direction: column;
}

@media (max-width:480px) {
  .section:empty {
    min-height: calc(100vh - 65px - 244px);
  }
  
  .mobile-column {
    flex-direction: column;
    align-items: center;
  }
}