@import 'font-graphik.css';

@import 'font-rhetorik.css';

:root {
  --color-light: #ECECC9;
  --color-dark: #143D56;
}

body, html {
  background-color: var(--color-dark);
}

.section:empty {
  min-height: calc(100vh - 65px - 224px);
}

.section {
  max-width: 900px;
  width: calc(100% - 32px);
  padding: 16px 0;
  margin: 0 auto;
}

.less-char {
  letter-spacing: -0.04em;
}

.btn {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 16px;
  border: none;
  width: 230px;
  height: 54px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: none;
  transition: scale 100ms ease-in-out 0s;
}

.btn:hover {
  scale: 1.02;
}

.btn-light {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.btn-outline {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  background-color: transparent;
}

.btn-outline-light {
  border: 1px solid var(--color-light);
  color: var(--color-light);
  background-color: transparent;
}

.btn-icon {
  height: 52px;
  width: 52px;
}

.btn-icon svg {
  scale: 1.5;
  pointer-events: none;
}

.btn.disabled {
  opacity: .5;
  pointer-events: none;
}

.bg-none {
  background-color: unset !important;
}

.bg-color-light {
  background-color: var(--color-light) !important;
}

.bg-color-dark {
  background-color: var(--color-dark) !important;
}

.text-color-light {
  color: var(--color-light) !important;
}

.text-color-dark {
  color: var(--color-dark) !important;
}

.carousel {
  width: 75vw;
  border-radius: 16px 0 0 16px;
}

.carousel-item {
  position: relative;
  width: fit-content;
}

.carousel-item img {
  max-width: 322px;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
}

.carousel-item::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('images/heart.svg');
}

.tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #ffffff;
  font-weight: 500;
  border-radius: 50vw;
  min-width: 140px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 26px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #143D56;
}

.tag.special {
  top: 28px;
  left: 40px;
  min-width: 96px;
}

h1 {
  font-weight: 500;
}

h2 {
  color: var(--color-light);
  font-size: 60px;
  font-family: 'rhetorik';
  font-weight: 500;
  text-align: center;
  line-height: 1;
}

h5 {
  color: var(--color-light);
  font-size: 14px;
  font-family: 'graphik';
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  line-height: 1;
}

h6 {
  font-family: 'graphik';
  font-weight: 500;
  font-size: 14px;
}

.card {
  position: relative;
}

.bg-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-sp {
  background-position: bottom left;
}

.color-card {
  padding-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 36px;
  border-radius: 16px;
  background-color: var(--color-light);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 28px;
  width: 22vw;
  text-align: center;
  align-items: center;
}

.color-card.third {
  width: calc((88vw + 60px) / 3 - 20px);
  max-width: 480px;
}

.color-card.two-third {
  width: calc(((88vw + 60px) / 3) * 2 - 20px);
  max-width: 960px;
}

.color-card img {
  width: 130px;
  height: 100px;
}

.color-card .bigger-img {
  width: 200px;
  height: 100px;
}

footer .bigger-img {
  scale: 2;
}

.bg-green {
  background-color: #A3A169;
}

.bg-red {
  background-color: #DFA5A0;
}

.bg-orange {
  background-color: #F4986C;
}

.bg-blue {
  background-color: #9FB5C2;
}

.bg-yellow {
  background-color: #F0BC57;
}

.text-green {
  color: #A3A169;
}

.text-red {
  color: #DFA5A0;
}

.text-orange {
  color: #F4986C;
}

.text-blue {
  color: #9FB5C2;
}

.text-yellow {
  color: #F0BC57;
}

.color-card.outline {
  border: 1px solid;
  background-color: unset;
  color: #9FB5C2;
  font-size: 18px;
  gap: 4px;
  width: 15vw;
  padding-top: 14px;
  padding-bottom: 14px;
}

.color-card.outline img {
  width: 26px;
  height: 26px;
}

footer {
  gap: 24px;
  justify-content: space-between;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wid-desk {
  width: calc(88vw + 60px);
}

.footer-title {
  /* font-family: 'graphik'; */
  opacity: 1;
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  color: var(--color-dark);
}

.link.link-hover {
  font-weight: 300;
  color: var(--color-dark);
}

#type-anim::before {
  content: '';
  animation: typeAnim 5000ms linear forwards;
  animation-delay: 1000ms;
}

#type-anim::after {
  content: '';
  border-right: 4px solid;
  margin-left: .2ch;
  height: 1ch;
  animation: blinkAnim 500ms steps(1, end) infinite;
}

@keyframes blinkAnim {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes typeAnim {
  0% {
    content: '';
  }
  
  2% {
    content: 'F';
  }
  
  4% {
    content: 'Fr';
  }
  
  6% {
    content: 'Fri';
  }
  
  8% {
    content: 'Frie';
  }
  
  10% {
    content: 'Frien';
  }
  
  12% {
    content: 'Friend';
  }
  
  14% {
    content: 'Friendl';
  }
  
  16% {
    content: 'Friendly';
  }
  
  18% {
    content: 'Friendly ';
  }
  
  20% {
    content: 'Friendly n';
  }
  
  22% {
    content: 'Friendly ne';
  }
  
  24% {
    content: 'Friendly nei';
  }
  
  26% {
    content: 'Friendly neig';
  }
  
  28% {
    content: 'Friendly neigh';
  }
  
  30% {
    content: 'Friendly neighb';
  }
  
  32% {
    content: 'Friendly neighbo';
  }
  
  34% {
    content: 'Friendly neighbor';
  }
  
  36% {
    content: 'Friendly neighborh';
  }
  
  38% {
    content: 'Friendly neighborho';
  }
  
  40% {
    content: 'Friendly neighborhoo';
  }
  
  42% {
    content: 'Friendly neighborhood';
  }
  
  100% {
    content: 'Friendly neighborhood';
  }
}

@media (max-width:480px) {
  .section:empty {
    min-height: calc(100vh - 65px - 244px);
  }
  
  .mobile-column {
    flex-direction: column;
    align-items: center;
  }
  
  .buttons-wrapper {
    justify-content: center;
    width: 100%;
  }
  
  h2 {
    font-size: 36px;
  }
  
  .color-card {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .color-card.outline {
    width: calc(50vw - 36px);
  }
  
  .color-card.h-mobile-more {
    height: unset;
    padding: 32px 16px !important;
  }
  
  .color-card.h-mobile-more img {
    height: 75px;
    width: unset;
  }
  
  .color-card.h-mobile-more p {
    max-width: unset;
    font-size: 20px;
  }
  
  .color-card.third {
    width: calc(100vw - 32px);
    margin: 0 16px;
  }
  
  .color-card.two-third {
    width: calc(100vw - 32px);
    height: 460px;
    margin: 0 16px;
  }
  
  .color-card.two-third:last-of-type {
    background-size: 170%;
    background-color: #EEE8E2;
    background-position: 50% 0;
    height: 400px;
  }
  
  .color-card.bg-card.third {
    height: 300px;
  }
  
  .color-card.move-bg {
    background-position: 50% 130%;
  }
  
  .color-card.mobile-sp {
    justify-content: flex-start;
    background-position: 50% 120%;
    background-size: 150%;
    background-color: #9FB5C2;
  }
  
  .mobile-full {
    width: calc(100vw - 32px);
  }
  
  .text-break {
    max-width: 60vw;
  }
  
  .color-card img {
    width: 60px;
    height: 60px;
  }
  
  .color-card .bigger-img {
    flex-grow: 1;
    width: 84px;
    height: unset;
    scale: 1;
  }
  
  .color-card p {
    font-size: 16px;
  }
  
  .color-card {
    height: 120px;
    width: 100%;
  }
  
  footer nav {
    width: 50%;
    margin-top: 36px;
  }
  
  .carousel {
    width: calc(100vw - 32px);
  }
  
  .color-card.outline.rhetorik p {
    line-height: 1.1;
    font-size: 14px;
  }
  
  .tag.special {
    left: 10px;
    top: 10px;
  }
  
  .no-mob-h {
    height: unset;
  }
  
  .wid-desk {
    width: unset;
  }
  
  .bg-mob {
    background-size: 200%;
    background-position: left bottom;
  }
}