body {
  color: #1E1F24;
}

h1 {
  font-family: "Trade Gothic Next";
  font-weight: 800;
  line-height: 106%;
  text-transform: uppercase;
}

h2 {
  font-family: "helvetica-neue-lt-pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.para {
  max-width: 1100px;
  font-family: "helvetica-neue-lt-pro";
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.card-para {
  font-size: 1rem;
  font-weight: 400;
}

.card-para b {
  font-weight: 600;
}

.text-lg {
  font-size: 18px !important;
}

.no-center {
  place-items: center flex-start;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.ml-for-mobile {
  margin-left: 200px;
}

.mobile-pt {
  padding-bottom: 60px;
}

.mobile-center {
  justify-content: flex-start !important;
}

.mobile-py {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cta-block-content-button, .hero-video .hero-content .hero-btn {
  padding: 24px 36px;
  height: fit-content;
}

@media (max-width:600px) {
  body {
    overflow-x: hidden;
  }
  
  .ml-for-mobile {
    margin-left: 0;
  }
  
  .p-24-mobile {
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
  }
  
  .h1-mobile {
    font-size: 38px;
  }
  
  .h2-mobile {
    font-size: 28px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  .para {
    font-size: 1em;
  }
  
  .no-center {
    place-items: flex-start;
  }
  
  .bg-image {
    background-position: bottom right;
  }
  
  .mobile-flex {
    flex-direction: column;
  }
  
  .w-mobile-80 {
    width: 100%;
  }
  
  .mobile-pt {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .mobile-pb {
    padding-bottom: 40px;
  }
  
  .mobile-center {
    text-align: center;
    justify-content: center !important;
  }
  
  .card-title.w-full {
    width: fit-content;
  }
  
  .mobile-14 {
    font-size: 14px;
  }
  
  .mobile-py {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .mobile-reverse {
    flex-direction: column-reverse;
  }
  
  .mobile-no-pt {
    padding-top: 0;
    padding-bottom: 28px;
  }
  
  .mobile-square {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 100%;
  }
}